<footer class="site-footer">
    <div class="site-footer_top">
        <div class="container">
            Test
        </div>
    </div>
    <div class="site-footer_bottom">
        <div class="container">
            Test
        </div>
    </div>
</footer>